<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.jlyw.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>GBK</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>HibernateSessionFilter</filter-name>
  	<filter-class>com.jlyw.filter.HibernateSessionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>HibernateSessionFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
	  <filter-name>CheckLoginFilter</filter-name>
	  <filter-class>com.jlyw.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
	  <filter-name>CheckLoginFilter</filter-name>
	  <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
	  <filter-name>CheckLoginFilter</filter-name>
	  <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>AuthFilter</filter-name>
  	<filter-class>com.jlyw.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AuthFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
  
  
  <servlet>
    <description>用户操作</description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.user.UserServlet</servlet-class>
  </servlet>
  

  
  
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <description>心跳包</description>
  <display-name>HeartBeatServlet</display-name>
  <servlet-name>HeartBeatServlet</servlet-name>
  <servlet-class>com.jlyw.servlet.user.HeartBeatServlet</servlet-class>
 </servlet>
 <servlet-mapping>
    <servlet-name>HeartBeatServlet</servlet-name>
    <url-pattern>/HeartBeatServlet.do</url-pattern>
 </servlet-mapping>
 <servlet>
    <description>现场检测业务（车辆调度）</description>
    <display-name>LocaleMissionServlet</display-name>
    <servlet-name>LocaleMissionServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.vehicle.LocaleMissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocaleMissionServlet</servlet-name>
    <url-pattern>/LocaleMissionServlet.do</url-pattern>
  </servlet-mapping> 
  
  
  
  
  <servlet>
    <description>地区管理操作</description>
    <display-name>RegionServlet</display-name>
    <servlet-name>RegionServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.RegionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegionServlet</servlet-name>
    <url-pattern>/RegionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户资质管理操作</description>
    <display-name>UserQualServlet</display-name>
    <servlet-name>UserQualServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.UserQualServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQualServlet</servlet-name>
    <url-pattern>/UserQualServlet.do</url-pattern>
  </servlet-mapping>
  
<servlet>
    <description>员工检验资质管理</description>
    <display-name>QualificationServlet</display-name>
    <servlet-name>QualificationServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.user.QualificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualificationServlet</servlet-name>
    <url-pattern>/QualificationServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>报价单管理</description>
    <display-name>QuotationServlet</display-name>
    <servlet-name>QuotationServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.QuotationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>QuotationServlet</servlet-name>
    <url-pattern>/QuotationServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>协议管理</description>
    <display-name>DealServlet</display-name>
    <servlet-name>DealServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.DealServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DealServlet</servlet-name>
    <url-pattern>/DealServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>用户档案管理操作</description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>规程管理操作</description>
    <display-name>SpecificationServlet</display-name>
    <servlet-name>SpecificationServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.SpecificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecificationServlet</servlet-name>
    <url-pattern>/servlet/SpecificationServlet.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SpecificationServlet</servlet-name>
    <url-pattern>/SpecificationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>车辆操作</description>
    <display-name>VehicleServlet</display-name>
    <servlet-name>VehicleServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.vehicle.VehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleServlet</servlet-name>
    <url-pattern>/servlet/VehicleServlet.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>VehicleServlet</servlet-name>
    <url-pattern>/VehicleServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>项目组操作</description>
    <display-name>ProjectTeamServlet</display-name>
    <servlet-name>ProjectTeamServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.ProjectTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectTeamServlet</servlet-name>
    <url-pattern>/ProjectTeamServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>部门操作</description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>客户操作</description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/servlet/CustomerServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>客户联系人操作</description>
    <display-name>CustomerContactorServlet</display-name>
    <servlet-name>CustomerContactorServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.CustomerContactorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerContactorServlet</servlet-name>
    <url-pattern>/CustomerContactorServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>转包方操作</description>
    <display-name>SubContractorServlet</display-name>
    <servlet-name>SubContractorServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.SubContractorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubContractorServlet</servlet-name>
    <url-pattern>/SubContractorServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>标准管理操作</description>
    <display-name>StandardServlet</display-name>
    <servlet-name>StandardServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.StandardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardServlet</servlet-name>
    <url-pattern>/servlet/StandardServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StandardServlet</servlet-name>
    <url-pattern>/StandardServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>标准器具管理操作</description>
    <display-name>StandardApplianceServlet</display-name>
    <servlet-name>StandardApplianceServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.appliance.StandardApplianceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StandardApplianceServlet</servlet-name>
    <url-pattern>/StandardApplianceServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>受检器具管理操作</description>
    <display-name>TargetApplianceServlet</display-name>
    <servlet-name>TargetApplianceServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.appliance.TargetApplianceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetApplianceServlet</servlet-name>
    <url-pattern>/TargetApplianceServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>器具标准名称操作</description>
    <display-name>ApplianceStandardNameServlet</display-name>
    <servlet-name>ApplianceStandardNameServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.ApplianceStandardNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplianceStandardNameServlet</servlet-name>
    <url-pattern>/ApplianceStandardNameServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>器具常用名称操作</description>
    <display-name>AppliancePopularNameServlet</display-name>
    <servlet-name>AppliancePopularNameServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.AppliancePopularNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppliancePopularNameServlet</servlet-name>
    <url-pattern>/AppliancePopularNameServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>器具生产厂商操作</description>
    <display-name>ApplianceManufacturerServlet</display-name>
    <servlet-name>ApplianceManufacturerServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.ApplianceManufacturerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplianceManufacturerServlet</servlet-name>
    <url-pattern>/ApplianceManufacturerServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>受检器具分类操作</description>
    <display-name>ApplianceSpeciesServlet</display-name>
    <servlet-name>ApplianceSpeciesServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.ApplianceSpeciesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplianceSpeciesServlet</servlet-name>
    <url-pattern>/ApplianceSpeciesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>标准、规程、器具关系操作</description>
    <display-name>RelationShipServlet</display-name>
    <servlet-name>RelationShipServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.appliance.RelationShipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelationShipServlet</servlet-name>
    <url-pattern>/RelationShipServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>强检通知操作</description>
    <display-name>QJTZServlet</display-name>
    <servlet-name>QJTZServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.QJTZServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QJTZServlet</servlet-name>
    <url-pattern>/QJTZServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询操作</description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.statistic.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>统计操作</description>
    <display-name>StatisticServlet</display-name>
    <servlet-name>StatisticServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.statistic.StatisticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticServlet</servlet-name>
    <url-pattern>/StatisticServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>角色操作</description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/servlet/RoleServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>文件上传操作</description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/FileUploadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet.do</url-pattern>
  </servlet-mapping>
  
  
  
  

  <servlet>
  <display-name>PrivilegeServlet</display-name>
  <servlet-name>PrivilegeServlet</servlet-name>
  <servlet-class>com.jlyw.servlet.PrivilegeServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>PrivilegeServlet</servlet-name>
  <url-pattern>/PrivilegeServlet.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PrivilegeServlet</servlet-name>
  <url-pattern>/servlet/PrivilegeServlet.do</url-pattern>
 </servlet-mapping>
 <servlet>
  <servlet-name>CustomerAccountServlet</servlet-name>
  <servlet-class>com.jlyw.servlet.CustomerAccountServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>CustomerAccountServlet</servlet-name>
  <url-pattern>/CustomerAccountServlet.do</url-pattern>
 </servlet-mapping>






  
  
  
  
  
  <servlet>
  	<description>委托单操作</description>
  	<servlet-name>CommissionSheetServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.CommissionSheetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommissionSheetServlet</servlet-name>
  	<url-pattern>/CommissionSheetServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>计量所单位信息（Address）</description>
  	<servlet-name>AddressServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddressServlet</servlet-name>
  	<url-pattern>/AddressServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>器具信息</description>
  	<servlet-name>ApplianceServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.ApplianceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ApplianceServlet</servlet-name>
  	<url-pattern>/ApplianceServlet.do</url-pattern>
  </servlet-mapping>
<servlet>
  	<description>转包（方/业务）信息</description>
  	<servlet-name>SubContractServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.SubContractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SubContractServlet</servlet-name>
  	<url-pattern>/SubContractServlet.do</url-pattern>
  </servlet-mapping>
<servlet>
  	<description>任务分配信息</description>
  	<servlet-name>TaskAssignServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.TaskAssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TaskAssignServlet</servlet-name>
  	<url-pattern>/TaskAssignServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>退样信息</description>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WithdrawServlet</servlet-name>
  	<url-pattern>/WithdrawServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>超期信息</description>
  	<servlet-name>OverdueServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.OverdueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OverdueServlet</servlet-name>
  	<url-pattern>/OverdueServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>原因信息</description>
  	<servlet-name>ReasonServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.ReasonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReasonServlet</servlet-name>
  	<url-pattern>/ReasonServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description>基础信息</description>
  	<servlet-name>BaseTypeServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.BaseTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BaseTypeServlet</servlet-name>
  	<url-pattern>/BaseTypeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>原始记录</description>
  	<servlet-name>OriginalRecordServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.OriginalRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OriginalRecordServlet</servlet-name>
  	<url-pattern>/OriginalRecordServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description>原始记录关联的文档</description>
  	<servlet-name>OriginalRecordDocsServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.OriginalRecordDocsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OriginalRecordDocsServlet</servlet-name>
  	<url-pattern>/OriginalRecordDocsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>文件下载</description>
  	<servlet-name>FileDownloadServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileDownloadServlet</servlet-name>
  	<url-pattern>/FileDownloadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>文件操作</description>
  	<servlet-name>FileServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileServlet</servlet-name>
  	<url-pattern>/FileServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description>折扣申请</description>
  	<servlet-name>DiscountServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.DiscountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DiscountServlet</servlet-name>
  	<url-pattern>/DiscountServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>车辆——任务</description>
  	<servlet-name>VehicleMissionServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.vehicle.VehicleMissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VehicleMissionServlet</servlet-name>
  	<url-pattern>/VehicleMissionServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>生成Xml配置文件</description>
    <display-name>生成Xml配置文件</display-name>
    <servlet-name>FormatXmlServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.FormatXmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormatXmlServlet</servlet-name>
    <url-pattern>/FormatXmlServlet.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description>共享文件夹管理</description>
    <display-name>共享文件夹管理</display-name>
    <servlet-name>SharingFolderServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.SharingFolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharingFolderServlet</servlet-name>
    <url-pattern>/SharingFolderServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>系统资源管理</description>
    <display-name>系统资源管理</display-name>
    <servlet-name>SysResourcesServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.SysResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysResourcesServlet</servlet-name>
    <url-pattern>/SysResourcesServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>菜单生成</description>
  	<servlet-name>MenuServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MenuServlet</servlet-name>
  	<url-pattern>/MenuServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>任务查询</description>
  	<servlet-name>TaskServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TaskServlet</servlet-name>
  	<url-pattern>/TaskServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description>系统运行参数管理</description>
  	<servlet-name>SysConfigServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.SysConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SysConfigServlet</servlet-name>
  	<url-pattern>/SysConfigServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description>量值溯源记录管理</description>
  	<servlet-name>TestLogServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.TestLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TestLogServlet</servlet-name>
  	<url-pattern>/TestLogServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description>费用清单委托单管理</description>
  	<servlet-name>DetailListComServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.DetailListComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DetailListComServlet</servlet-name>
  	<url-pattern>/DetailListComServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<description>重新编制证书（完工确认后）</description>
  	<servlet-name>RemakeCertificateServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.RemakeCertificateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RemakeCertificateServlet</servlet-name>
  	<url-pattern>/RemakeCertificateServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>导出操作</description>
    <display-name>Export</display-name>
    <servlet-name>Export</servlet-name>
    <servlet-class>com.jlyw.servlet.Export</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Export</servlet-name>
    <url-pattern>/Export.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>证书费用分配</description>
  	<servlet-name>CertificateFeeAssignServlet</servlet-name>
  	<servlet-class>com.jlyw.servlet.CertificateFeeAssignServlet</servlet-class>
  </servlet>
  <servlet>
    <description>客户关系</description>
    <display-name>CrmServlet</display-name>
    <servlet-name>CrmServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.crm.CrmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>导出</description>
    <display-name>CrmExportServlet</display-name>
    <servlet-name>CrmExportServlet</servlet-name>
    <servlet-class>com.jlyw.servlet.crm.CrmExportServlet</servlet-class>
  </servlet>







  <servlet-mapping>
  	<servlet-name>CertificateFeeAssignServlet</servlet-name>
  	<url-pattern>/CertificateFeeAssignServlet.do</url-pattern>
  </servlet-mapping>
  
<servlet-mapping>
    <servlet-name>CrmServlet</servlet-name>
    <url-pattern>/CrmServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrmExportServlet</servlet-name>
    <url-pattern>/CrmExportServlet.do</url-pattern>
  </servlet-mapping>
  
  
  
  <listener>
	 <listener-class>com.jlyw.listener.SysContextListener</listener-class>
  </listener>
  <listener>
	 <listener-class>com.jlyw.listener.SessionListener</listener-class>
  </listener>

  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  <error-page>
	<error-code>404</error-code>
	<location>/404.htm</location>
  </error-page>
  <error-page>
	<error-code>500</error-code>
	<location>/500.htm</location>
  </error-page>
  
  <!-- icon元素包含small-icon和large-icon两个子元素.用来指定web站台中小图标和大图标的路径. -->    
   <icon>    
       <!--small-icon元素应指向web站台中某个小图标的路径,大小为16 X 16 pixel,但是图象文件必须为GIF或JPEG格式,扩展名必须为:.gif或.jpg. -->    
       <small-icon>/images/logo/smallLogo.gif</small-icon>    
       <!--large-icon元素应指向web站台中某个大图表路径,大小为32 X 32 pixel,但是图象文件必须为GIF或JPEG的格式,扩展名必须为; gif或jpg.-->    
       <large-icon>/images/logo/largeLogo.gif</large-icon>    
   </icon> 
</web-app>
