INPUT
{
	BORDER-TOP-WIDTH: 1px; 
	PADDING-RIGHT: 1px; 
	PADDING-LEFT: 1px; 
	BORDER-LEFT-WIDTH: 1px; 
	FONT-SIZE: 9pt; 
	BORDER-LEFT-COLOR: #666666; 
	BORDER-BOTTOM-WIDTH: 1px; 
	BORDER-BOTTOM-COLOR: #666666; 
	PADDING-BOTTOM: 1px; 
	BORDER-TOP-COLOR: #666666; 
	PADDING-TOP: 1px; 
	HEIGHT: 18px; 
	BORDER-RIGHT-WIDTH: 1px; 
	BORDER-RIGHT-COLOR: #666666;
}
TD
{
	FONT-SIZE: 9pt;
}